@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 88px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom, #e6f6fe, rgba(230, 246, 254, 0));

  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
}

.rdp {
  --rdp-accent-color: #ef820f !important;
  @media screen and (min-width: 768px) {
    --rdp-cell-size: 60px !important;
  }
}

.rdp-months {
  justify-content: center;
}

.rdp-caption_label {
  text-transform: capitalize;
  z-index: 0 !important;
  @media screen and (min-width: 768px) {
    font-size: 30px !important;
  }
}

.rdp-cell {
  @media screen and (min-width: 768px) {
    font-size: 22px !important;
  }
}

div[id='logout-popover'] .MuiPopover-paper {
  transform: translate(-12px, 13px) !important;
  background-color: rgb(255 247 237) !important;
}

div[id='pastvisitdates-popover'] .MuiPopover-paper {
  padding: 12px;
  transform: translate(-12px, 13px) !important;
  background-color: rgb(148 163 184) !important;
}
