@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 88px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom, #e6f6fe, rgba(230, 246, 254, 0));

  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(to bottom, #3a3c3c, #3a3c3c);
  }
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background-color: #ef820f;
  border-radius: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 8px;
  border: none;
}
.rdp {
  --rdp-accent-color: #ef820f !important;
  @media screen and (min-width: 768px) {
    --rdp-cell-size: 60px !important;
  }
}

.rdp-months {
  justify-content: center;
}

.rdp-nav_button:hover {
  @media (prefers-color-scheme: dark) {
    background-color: rgb(148 163 184) !important;
  }
}

.rdp-caption_label {
  text-transform: capitalize;
  z-index: 0 !important;
  @media screen and (min-width: 768px) {
    font-size: 30px !important;
  }
}

.rdp-cell {
  @media screen and (min-width: 768px) {
    font-size: 22px !important;
  }
}

.rdp-button:hover {
  @media (prefers-color-scheme: dark) {
    background-color: rgb(148 163 184) !important;
  }
}

div[id='logout-popover'] .MuiPopover-paper {
  transform: translate(-12px, 13px) !important;
  background-color: rgb(255 247 237) !important;

  @media (prefers-color-scheme: dark) {
    background-color: rgb(82, 82, 82) !important;
  }
}

div[id='pastvisitdates-popover'] .MuiPopover-paper {
  max-height: 300px;
  padding: 12px;
  transform: translate(-12px, 13px) !important;
  background-color: rgb(148 163 184) !important;
  overflow-y: auto;
}

div[id='nav-tabs'] .Mui-selected,
div[id='nav-tabs'] .MuiButtonBase-root,
div[id='nav-tabs-no-indicator'] .Mui-selected,
div[id='nav-tabs-no-indicator'] .MuiButtonBase-root {
  font-family: var(--font-wix);

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

div[id='nav-tabs'] .Mui-selected {
  color: #ef820f;
}

div[id='nav-tabs'] .MuiTouchRipple-root {
  border-radius: 8px;
}

div[id='nav-tabs'] .MuiTabs-indicator {
  background-color: #ef820f;
}

div[id='nav-tabs-no-indicator'] .Mui-selected {
  color: rgba(0, 0, 0, 0.6);

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

div[id='nav-tabs-no-indicator'] .MuiTabs-indicator {
  background-color: transparent;
}

.Toastify__toast--success {
  background-color: rgb(74 222 128) !important;
}

.Toastify__toast--warning {
  background-color: rgb(250 204 21) !important;
}

.Toastify__toast--error {
  background-color: rgb(242 81 55) !important;
}

.Toastify__close-button {
  align-self: center !important;
  color: white !important;
  opacity: 1 !important;
}

.Toastify__close-button > svg {
  width: 28px !important;
  height: 28px !important;
}

div[id='service-accordion'],
div[id='faq-accordion'] {
  @media (prefers-color-scheme: dark) {
    background-color: rgb(39, 39, 39);
  }
}

div[id='service-accordion-selected'],
div[id='faq-accordion-selected'] {
  @media (prefers-color-scheme: dark) {
    background-color: rgb(96, 95, 95);
  }
}

div[id='faq-accordion'] {
  @media (prefers-color-scheme: dark) {
    background-color: transparent;
  }
}
